<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       		http://www.springframework.org/schema/beans/spring-beans.xsd 
       		http://www.springframework.org/schema/context 
       		http://www.springframework.org/schema/context/spring-context.xsd
       		http://www.springframework.org/schema/aop 
       		http://www.springframework.org/schema/aop/spring-aop.xsd
       		http://www.springframework.org/schema/mvc
       		http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-autowire="byName">
	<!-- 生产者 -->
	<bean id="myProducer" class="cn.m1c.rocketmq.MyProducer"
            init-method="init"  
            destroy-method="destroy"
            scope="singleton">
            <property name="producerGroup" value="MyProducerGroup"></property>
            <property name="namesrvAddr" value="localhost:9876"></property>
            
    </bean>

	<!-- 监听实现 -->
    <bean id="rocketMqListener" class="cn.m1c.rocketmq.listener.impl.SimpleRocketMqListener"></bean>
    <bean id="rocketMqListener1" class="cn.m1c.rocketmq.listener.impl.SimpleRocketMqListener1"></bean>
    <!-- 监听配置 -->
    <bean id="consumer" class="cn.m1c.rocketmq.MyConsumer" 
            init-method="init" destroy-method="destroy"
            scope="singleton">
            <property name="namesrvAddr" value="${namesrvAddr}"></property>
            
            <property name="consumerGroup" value="${consumerGroup}"></property>
            <property name="topic" value="${topic}"/>
	        <property name="subExpression" value="${subExpression}"/>
	        <property name="rocketMqMessageListener" ref="rocketMqListener"/>
    </bean> 
    <bean id="consumer1" class="cn.m1c.rocketmq.MyConsumer" 
            init-method="init" destroy-method="destroy"
            scope="singleton">
            <property name="namesrvAddr" value="${namesrvAddr}"></property>
            
            <property name="consumerGroup" value="${consumerGroup1}"></property>
            <property name="topic" value="${topic1}"/>
	        <property name="subExpression" value="${subExpression1}"/>
	        <property name="rocketMqMessageListener" ref="rocketMqListener1"/>
    </bean> 
</beans>